/* Include the padding and border in an element's
total width and height
*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}

/* remove margin and padding from the list 
*/
ul {
    margin: 0;
    padding: 0;
}
.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;

}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg) ;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
/* Style the list items */
ul li{
    cursor: pointer;
    position: relative;
    /* top,right,bottom,left*/
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make list of items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
}
/*set all list items to a different color
(zebra-stripes) */
ul li:nth-child(odd){
    background: #f9f9f9;
}
/*darker background on hoover8*/
ul li:hover(odd){
    background: #ddd;
}
/* when clicked on, add background and stike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
/*add a checked mark whne clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: #f44336;
    color: white;
}

/*style the header*/
.header {
    background-color: #4CA8A1;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* clear floats after the header*/
.header:after {
    columns: "";
    display: table;
    clear: both;
}

/*style the input*/
input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/*style the add button*/
.addBtn {
    padding: 10px;
    width: 25%;
    background: #0939bd;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
footer{
    margin-top: auto;
    text-align: center;
    padding: 4px;
    background-color: #4CA8A1;
    color: white;
}